
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */


header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.55em;
}

a{
    text-decoration: none;
    color: darkgray;
}

a:hover{
    transition: linear 0.2s;
    color: orange;
}

.active{
    color: rgb(31, 31, 31) !important;
    font-weight: 550;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

/*This allows the links in the navbar to have spaces between them.*/
.listItems{
    margin: 0 0.75em 0 0.75em;
}

/**HERO SECTION**/

#heroSection{
    height: 100vh;
    background: url(../img/first-background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heroArticle{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.heroButton{
    background-color: orange;
    border: none;
    padding: 1em;
    border-radius: 2px;
}

.heroButton:focus{
    border: none;
}

/**INFO SECTION**/

#infoSection{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 4rem;
}

#infoFigures{
    display: flex;
    align-self: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: grey 0.1rem inset;
}

/**FOOTER SECTION**/

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#footerIcons{
    display: flex;
    align-self: center;
    justify-content: space-evenly;
}

#footerIcons figure{
    padding: 0.5rem;
    border: 0.05rem black inset;
    border-radius: 20rem;
}

.youAreGrey{
    color: grey;
}